.ModalPostCreate_container {
    margin-right: 20px;
}

.ModalPostCreate_container .MuiButton-root.Mui-disabled {
    background: var(--text-grey-highlight);
    color: white;
}

.ModalPostCreate_container .MuiButton-root.Mui-disabled:hover {
    cursor: pointer;
}

.ModalPostCreate_container .MuiButton-root {
    background: var(--text-soft-highlight);
    border: none;
    color: white;
}

.ModalPostCreate_container .MuiButton-root:hover {
    background: var(--text-soft-highlight);
    border: none;
    color: white;
    box-shadow: var(--box-shadow);
}

/* .ModalPostCreate_container .MuiButton-root.Joy-disabled:hover {
    cursor: pointer;
} */

.ModalPostCreate_container .MuiSvgIcon-root {
    margin-right: 5px;
}

.ModalPostCreate_container .MuiSvgIcon-root path {
    color: white;
}

.ModalPostCreate_heading {
    margin-top: 0;
}

.ModalPostCreate_label {
    font-size: 14px;
    margin-bottom: 8px;
}

.ModalPostCreate_container .MuiAutocomplete-root {
    width: 100%;
}

.ModalPostCreate_chips {
    width: 600px;
    display: flex;
    margin-top: 10px;
    border-top: #cccccc90 solid 1px;
    padding-top: 5px;
    overflow: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.ModalPostCreate_chips::-webkit-scrollbar {
    display: none;
}

.ModalPostCreate_actions {
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
}

.ModalPostCreate_cancel .MuiButton-root {
    background: var(--background);
    border: none;
    color: var(--lighter-primary);
}

.ModalPostCreate_cancel .MuiButton-root:hover {
    background: var(--background);
    border: none;
    color: var(--lighter-primary);
    box-shadow: var(--box-shadow);
}

.ModalPostCreate_post {
    margin-left: 20px;
}

.ModalPostCreate_post .MuiButton-root {
    background: var(--text-soft-highlight);
    border: none;
    color: white;
}

.ModalPostCreate_post .MuiButton-root:hover {
    background: var(--text-soft-highlight);
    border: none;
    color: white;
    box-shadow: var(--box-shadow);
}
