.Navbar_container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
    padding: 10px;
    box-sizing: border-box;
    justify-content: space-between;
    padding: 0 20px 0 20px;
    border-bottom: rgba(0, 0, 0, 0.12) solid 1px;
}

.Navbar_left {
    width: 500px;
}

.Navbar_right {
    display: flex;
}

.MuiButton-root.Joy-disabled {
    background: var(--text-grey-highlight);
    color: white;
}
