.FeedPostUnauthorized_container {
    margin: 0 10px 20px 10px;
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: var(--box-shadow);
}

.FeedPostUnauthorized_header {
    width: 100%;
    display: flex;
}

.FeedPostUnauthorized_header_content {
    margin-left: 15px;
    width: 100%;
}

.FeedPostUnauthorized_expert_photo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: gray;
}

.FeedPostUnauthorized_expert_name {
    font-size: 18px;
}

.FeedPostUnauthorized_expert_username {
    font-size: 15px;
    margin-left: 5px;
    font-weight: 300;
}

.FeedPostUnauthorized_date {
    font-size: 13px;
    display: flex;
    margin: 5px 0 20px 0;
}

.FeedPostUnauthorized_date .MuiSvgIcon-root path {
    color: rgb(138, 140, 146);
}

.FeedPostUnauthorized_date span {
    margin-left: 5px;
    color: rgb(138, 140, 146);
}

.FeedPostUnauthorized_actions {
    height: max-content;
    display: flex;
    justify-content: right;
}

.FeedPostUnauthorized_actions .MuiSvgIcon-root:hover {
    cursor: pointer;
}

.FeedPostUnauthorized_actions .MuiSvgIcon-root path {
    color: var(--lighter-primary);
}

.FeedPostUnauthorized_content_text {
    margin-top: 25px;
    margin-bottom: 0;
    text-align: justify;
}

.FeedPostUnauthorized_vote {
    display: grid;
    grid-template-columns: 6fr 6fr;
    grid-auto-flow: row;
    margin-top: 25px;
    border-top: whitesmoke solid 1px;
    padding-top: 15px;
    color: var(--text-grey-highlight);
}

.FeedPostUnauthorized_vote div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.FeedPostUnauthorized_vote_clickable:hover {
    cursor: pointer;
}

.FeedPostUnauthorized_vote_clickable .FeedPostUnauthorized_vote_action {
    margin: 0 10px 0 5px;
}

.FeedPostUnauthorized_vote_clickable.selected .MuiSvgIcon-root path {
    color: var(--text-highlight);
}

.FeedPostUnauthorized_vote_clickable.selected
    .FeedPostUnauthorized_vote_action {
    color: var(--text-highlight);
}

.FeedPostUnauthorized_vote div .MuiChip-root {
    background: whitesmoke;
    border: whitesmoke;
}
