.NavbarProfileChip_container {
    justify-self: end;
}

.NavbarProfileChip_container .MuiChip-action {
    background: white;
    height: inherit;
}

.NavbarProfileChip_container .MuiChip-action:hover {
    background: white;
}

.NavbarProfileChip_container .MuiSvgIcon-root {
    margin: 0;
}

.NavbarProfileChip_container .MuiChip-label {
    font-size: 15px;
    font-weight: 300;
}